@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Jura:wght@400;700&display=swap');

:root {
  --primary-color: #aa376e;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
}

.desktop-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 20px;
  gap: 48px;
}

.mobile-container {
  margin: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--primary-color);
}

nav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

nav > a {
  color: black;
  padding: 8px;
  text-decoration: none;
}

nav > a:hover {
  color: var(--primary-color);
}

nav > a.active {
  border-bottom: 2px solid var(--primary-color);
}

nav > a.home {
  font-size: 40px;
  color: var(--primary-color);
  font-family: Jura, sans-serif;
  font-weight: bold;
}

nav > a.active.no-underline {
  border: none;
}

.menu.mobile {
  height: 100%;
}

.links {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.menu.mobile > .links {
  margin: 16px;
}

.menu.mobile > nav > a {
  padding-left: 16px;
}

.menu-button {
  border: 3px solid var(--primary-color);
  font-family: Jura, sans-serif;
  border-radius: 8px;
  font-size: 24px;
  padding: 4px 16px;
  color: var(--primary-color);
  background-color: unset;
  font-weight: bold;
  transition: 0.3s;
}

.menu-button:hover,
.menu-button:active {
  color: white;
  background-color: var(--primary-color);
}

.content {
  max-width: 80ch;
  line-height: 1.5;
}

.picture {
  width: 200px;
  border-radius: 8px;
}

.picture.large {
  max-width: 360px;
  width: 100%;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}
