{{page-title "Anne-Greeth"}}

<div class="container">

<nav>
  <LinkTo class="no-underline" @route="index"><h1 class="title">Anne-Greeth</h1></LinkTo>
  <LinkTo @route="kaartjes">Kaartjes</LinkTo>
  <LinkTo @route="in-opdracht">In Opdracht</LinkTo>
  <LinkTo @route="contact">Contact</LinkTo>
</nav>
{{outlet}}
</div>