{{page-title "Contact"}}
<div class="content">
  <p>Wat leuk dat je contact met mij zoekt! Je mag mij mailen of een berichtje sturen op Instagram.</p>
  <p>Anne-Greeth Schot-van Herwijnen</p>
  <p><a href="mailto:info@anne-greeth.nl">info@anne-greeth.nl</a></p>
  <p><a href="https://www.instagram.com/anne.greeth/">Instagram</a></p>
  <p>Groenlo</p>
  <br/>
  <p>BTW Id: NL004804333B87</p>
  <p>KVK: 90296141</p>
</div>