{{page-title "In Opdracht"}}
<div class="content">
  <div>
    <h2>Kaarten</h2>
    <p>Ben je op zoek naar een geboortekaartje, huwelijksuitnoding of een andere event en hou je van een analoge inslag, dan zijn mijn kaartjes erg geschikt. Ik maak het origineel analoog, scan deze hoogwaardig in en laat de kaartjes vervolgens drukken.</p>
  </div>
  <div>
    <h2>Illustraties</h2>
    <p>Ik maak graag aquarel en gouache illustraties van dieren, landschappen en gebouwen.</p>
  </div>
  <div>
    Heb jij een leuke opdracht voor mij, neem gerust <LinkTo @route="contact">contact</LinkTo> met mij op.
  </div>
  <div class="picture-container">
    <img class="picture" src="/images/haan.png" alt="haan"/>
    <img class="picture" src="/images/huisportret.jpeg" alt="Huisportret"/>
    <img class="picture" src="/images/vogeltje_lynx.jpeg" alt="Bee"/>
  </div>
</div>