{{page-title "Index"}}
<div class="content">
  Hallo, ik ben Anne-Greeth, ik maak graag illustraties en kaartjes.<br> Ben je op zoek naar creativiteit op maat, <LinkTo @route="in-opdracht">klik dan hier</LinkTo>.
</div>
<div class="picture-container">
  <img class="no-mobile picture" src="/images/bird.jpeg" alt="Bird"/>
  <img class="picture" src="/images/profile.jpg" alt="Myself"/>
  <img class="no-mobile picture" src="/images/bee.jpeg" alt="Bee"/>
</div>
<div class="links">
  <a class="button" href="https://www.instagram.com/anne.greeth/">Instagram</a>
  <a class="button" href="mailto:info@anne-greeth.nl">Mail</a>
</div>