{{page-title "Home"}}
<div class="content">
  <h2>Welkom</h2>
  Stap binnen in mijn kleurrijke wereld vol creativiteit. Als een gepassioneerde creatieveling ben ik er om jouw ideeën om te zetten in op maat gemaakte kunstwerken. Of het nu gaat om persoonlijke wenskaarten, sprekende illustraties of unieke schilderijen, ik sta paraat om jouw visie tot leven te brengen.
  <br><br>
  Kijk gerust rond in mijn portfolio en aarzel niet om <LinkTo @route="contact">contact</LinkTo> op te nemen. Ben je op zoek naar creativiteit op maat, <LinkTo @route="in-opdracht">klik dan hier</LinkTo>.
  <div class="picture-container">
    <img class="picture" src="/images/bird.jpeg" alt="Bird"/>
    <img class="picture" src="/images/profile.jpg" alt="Myself"/>
    <img class="picture" src="/images/bee.jpeg" alt="Bee"/>
  </div>
</div>

