{{page-title "Kaartjes"}}
<div class="content">
  <p>Ik heb mijn eigen collectie aan kaartjes, hieronder zie je er een aantal. Wil je deze kopen dan kan dat bij <a target="_blank" href="https://misterbadger.com/" rel="noopener noreferrer">Mister Badger</a> in Groenlo en <a href="https://hengelo-keijenborg.nl/Shop-Melange" target="_blank" rel="noopener noreferrer">Shop Melange</a> in Hengelo (GLD). Je kan ook <LinkTo @route="contact">contact</LinkTo> met mij opnemen. Heb jij een winkel waar mijn kaartjes mooi in het assortiment passen, <LinkTo @route="contact">hoor ik het graag</LinkTo>.</p>
  <img class="picture large" src="/images/collectie.png" alt="foto van 12 kaartjes"/>
</div>